@model IEnumerable<BurgerPlace2.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger">Item</h1>

<p>
    <a class="btn btn-danger" asp-action="Create">Criar novo</a>
</p>
<table class="table text-danger"  style="min-height: 70vh;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoDetalhada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemPequenaUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
          <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.DescricaoCurta)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.DescricaoDetalhada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImagemPequenaUrl)" width="100px">
            </td>
            <td>
                 <img src=" @Html.DisplayFor(modelItem => item.ImagemUrl)" width="100px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.Destaque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaId)
            </td>
            <td>
                <a class="btn btn-danger text-white" asp-action="Edit" asp-route-id="@item.ItemId">Editar</a> |
                <a  class="btn btn-danger text-white mt-2"asp-action="Details" asp-route-id="@item.ItemId">Detalhes</a> |
                <a  class="btn btn-danger text-white mt-2"asp-action="Delete" asp-route-id="@item.ItemId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
